.eventList {
  padding: 40px;
  padding-top: 0;
  text-align: center;
  width: 60%;
  height: 7%;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.eventList h1 {
  font-size: 38px;
  color: #602B5F; /* Color principal de tu paleta */
  font-family: 'Amatic SC', cursive; /* Aplicar la tipografía Amatic SC */
  
  font-weight: 400; /* Peso más fino */
}

.eventList ul {
  list-style-type: none;
  padding: 0;
}

.eventList li {
  background-color: #D9D8EA; /* Fondo claro de tu paleta */
  color: #602B5F; /* Texto con el color principal */
  margin: 10px 0;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: 'Arial', sans-serif; /* Tipografía secundaria */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra ligera */
  transition: transform 0.3s ease;
}

.eventList li:hover {
  transform: scale(1.05); /* Efecto de hover para mejorar la apariencia */
  background-color: #BCA0DC; /* Color de hover */
}
